<div class="home-intro">
    <!-- <div class="jumbo">{{site.heading}} </div> -->
    <div class="home-sub-text" align="center"> <h3>
        I am <a href="https://twitter.com/DolbyTo">@DolbyTo</a>,<br>
        a DevOps engineer, responsible for building and automating scalable, reliable, and secure systems. I am passionate about using technology to solve real-world problems and always looking for new ways to improve the way things work.<br><br>

        When I am not working, I am usually watching videos on YouTube (mostly landings and takeoffs - I enjoy watching everything about airports and planes), movies on Netflix or taking a look at my social media, mostly the X one (don't get me wrong, Twitter has been rebranded).<br><br>

        I love traveling, learning new things and meeting people, by the way, I am everybody's friend!<br><br>

        You can always check my personality.
        <br>
        <br>

        <!-- Google Calendar Appointment Scheduling begin -->
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ1HQM8kWpITW3NKaP3RkHLyxHeNN3aMIlFfRyts-UQwmuA9mJz1M_pFxZqwgQKl29CuRaqRbzrX?gv=true',
      color: '#9FE1E7',
      label: 'Book an appointment with me',
      target,
    });
  });
})();
</script>
<!-- end Google Calendar Appointment Scheduling -->

        </h3>
</div> </div>
