<div class="home-intro">
    <!-- <div class="jumbo">{{site.heading}} </div> -->
    <div class="home-sub-text" align="center"> <h3>
        I am <a href="https://twitter.com/DolbyTo">@DolbyTo</a>,<br>
        a DevOps engineer, responsible for building and automating scalable, reliable, and secure systems. I am passionate about using technology to solve real-world problems and always looking for new ways to improve the way things work.<br><br>

        When I am not working, I am usually watching videos on YouTube (mostly landings and takeoffs - I enjoy watching everything about airports and planes), movies on Netflix or taking a look at my social media, mostly the X one (don't get me wrong, Twitter has been rebranded).<br><br>

        I love traveling, learning new things and meeting people, by the way, I am everybody's friend!

        <!-- Check out the <a href="{{'/notes' | relative_url}}"> demo </a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>. -->
        </h3>
</div> </div>
